<ion-header>
  <ion-toolbar color="tertiary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="assets/picture2.jpg"/>
    <img src="assets/picture3.jpg"/>
    <img src="assets/picture4.jpg"/>
    
  <video
  width="100%"
  controls="controls"
  preload="metadata"
  webkit-playsinline="webkit-playsinline"
  class="videoPlayer">
    <source src="assets/video2.MP4" type="video/mp4" />
  </video>
  <video
  width="100%"
  controls="controls"
  preload="metadata"
  webkit-playsinline="webkit-playsinline"
  class="videoPlayer">
    <source src="assets/tilawah.MP4" type="video/mp4" />
  </video>

</ion-card>
</ion-content>
