<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/logo.png"/>
    <ion-card-content>
    E-Mengaji is a mobile application made for class management. 
    This class is located in Damansara Perdana. 
    This class focuses on Islamic studies such as reading the Al-Quran, 
    reading Iqra' and also meditating on the holy verses of the Al-Quran. 
    The class was held at Surau Ahmad Razali, Flora Damansara and most of the students live in the residential area.
    </ion-card-content> 
  </ion-card>
</ion-content>
