<ion-header>
  <ion-toolbar color="tertiary" class="ion-text-center">
    <ion-title>E-mengaji</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="students" src="assets/picture1.jpg"/>
    <ion-card-header>
      <ion-card-title>
        HI, WELCOME TO 
        <br>E-MENGAJI MOBILE APPLICATION !
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Alhamdulillah and thank you for joining us :)
    </ion-card-content> 
  </ion-card>
</ion-content>
