<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      E-Mengaji
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-card>
  <ion-img src="assets/logo.png" alt="rpk logo"></ion-img>
  </ion-card>
  <br>
  <div align="center">WELCOME TO E-MENGAJI APP</div>
  
  <br>
  <br>
  <br>
  <ion-card-header>
<ion-button expand="full" fill="outline" shape="round" color="tertiary" [routerLink]="['/register']">REGISTER</ion-button>
<ion-button expand="full" fill="outline" shape="round" color="tertiary" [routerLink]="['/login']">LOGIN</ion-button>
</ion-card-header>

</div>
</ion-content>

 